.code-examples-container {
  margin-bottom: 48px;
}

.examples-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
}

@media (min-width: 1200px) {
  .examples-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

